body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	color: #282828;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 520px;
	margin: 180px auto;
	text-align: center;
}

h1, h2, h3 {
	font-family: 'Katibeh', cursive;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 27px;
	color: #951b81;
}

.left-contact {
	width: 220px;
	float: left;
}


.right-contact {
	width: 220px;
	float: right;
}

.adress {
	float: left;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 19px;
    font-size: 16px;
}

.contact {
	float: left;
    width: 100%;
    margin-top: 36px;
}

.contact p {
	font-size: 14.17px; 
    margin-top: 11px;
	line-height: 1.65em;
}

@media screen and (max-width: 540px) {
	.container {
		width: 300px;
		margin: 80px auto;
		text-align: center;
	}

	.left-contact {
	    float: none;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}

	.right-contact {
	    float: none;
	    margin: 0 auto;
	}
}